<div class="card text-bg-dark">
  <img src="/assets/404.jpg" class="card-img" alt="404 Not found" />
  <div class="card-img-overlay">
    <h5 class="card-title">Ops! Esta no es la página que estas buscando</h5>
  </div>
</div>