<h1>¡Hello there!</h1>
<p>Tienda pendiente de mejoras visuales</p>
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner" style="width: 700px;height:400px">
    <div class="carousel-item active">
      <img src="{{active.thumbnails.[0]}}" class="d-block w-100 object-fit-cover" alt={{active.title}} />
    </div>
    {{#each products}}
    <div class="carousel-item ">
      <img {{#with this.thumbnails}}
            src="{{this.[0]}}"
          {{/with }} class="d-block w-100 object-fit-cover" alt={{products.title}} />
    </div>
    {{/each}}
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>